# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
2
/build/
3
​
4
# Ignore Gradle GUI config
5
gradle-app.setting
6
​
7
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
8
!gradle-wrapper.jar
9
​
10
# Cache of project
11
.gradletasknamecache
12
​
13
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
14
# gradle/wrapper/gradle-wrapper.properties
15
